@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
  font-family: "Fira Sans",Arial, Helvetica, sans-serif; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 15pt; }

.resize-observer[data-v-2b830392] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  pointer-events: none;
  display: block;
  overflow: hidden;
  opacity: 0; }

.resize-observer[data-v-2b830392] object {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -1; }

.tick_line {
  display: inline-block;
  position: relative;
  text-align: center;
  background: gray;
  height: 10px;
  width: 1px;
  margin-bottom: 10px; }

/* div stuff*/
.sliderContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 30vh; }

.sliderGroup {
  position: relative;
  height: 20vh; }

.iv-range {
  -webkit-appearance: none;
  margin: 0px;
  width: 100%;
  height: 18px; }

.iv-range-play {
  -webkit-appearance: none;
  margin: 0px;
  width: 100%;
  height: 18px; }

/* removing input range track defualt for chrome, mozilla and IE - NON PLAY*/
.iv-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 20px;
  border: 1px solid black;
  border-radius: 9px;
  background-color: moccasin; }

.iv-range::-moz-range-track {
  height: 20px;
  border: 1px solid black;
  border-radius: 9px;
  background-color: moccasin; }

.iv-range::-ms-track {
  height: 20px;
  border: 1px solid black;
  border-radius: 9px;
  background-color: moccasin; }

/* removing input range track defualt for chrome, mozilla and IE - PLAY*/
.iv-range-play::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 20px;
  border: 1px solid black;
  border-radius: 9px;
  background-color: cornsilk; }

.iv-range-play::-moz-range-track {
  border: 1px solid black;
  height: 20px;
  border-radius: 9px;
  background-color: cornsilk; }

.iv-range-play::-ms-track {
  border: 1px solid black;
  height: 20px;
  border-radius: 9px;
  background-color: moccasin; }

/* slider thumb css - NON PLAY */
.iv-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: orange;
  overflow: visible;
  cursor: pointer; }

.iv-range::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: orange;
  overflow: visible;
  cursor: pointer; }

.iv-range::-ms-thumb {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: orange;
  overflow: visible;
  cursor: pointer; }

/* slider thumb css - PLAY */
.iv-range-play::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: teal;
  overflow: visible;
  cursor: pointer; }

.iv-range-play::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: teal;
  overflow: visible;
  cursor: pointer; }

.iv-range-play::-ms-thumb {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: teal;
  overflow: visible;
  cursor: pointer; }

.tick_num {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 10px;
  width: 20px;
  margin-bottom: 10px; }

/*Marker ie bubble */
.sliderValueMarker {
  margin: 0;
  width: 25px;
  height: 25px;
  border-radius: 50% 50% 0 50%;
  background-color: aquamarine;
  text-align: center;
  line-height: 0px;
  transform: rotate(45deg);
  position: absolute;
  top: -35px; }

.sliderValueMarker p {
  font-size: 14px;
  text-align: center;
  transform: rotate(-45deg); }

svg[data-v-024b9765] {
  border: 5px solid black; }

.equationbox {
  border-style: solid;
  border-color: #37578b;
  border-radius: 0.5rem;
  background-color: #daeced;
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

svg[data-v-77045ecc] {
  border: 5px solid black; }

/* The container <div> - needed to position the dropdown content */
.dropdown[data-v-06d10bd9] {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: .05rem; }

/* Dropdown hover */
.dropdownhover[data-v-06d10bd9] {
  display: inline-block;
  padding: 6px 12px 5px 10px;
  cursor: pointer;
  text-decoration: underline; }

/* Dropdown hover on hover */
.dropdownhover[data-v-06d10bd9]:hover {
  background-color: #2980B9;
  -webkit-box-shadow: 0 0 7.5px rgba(9, 89, 160, 0.9);
  -moz-box-shadow: 0 0 7.5px rgba(9, 89, 160, 0.9);
  box-shadow: 0 0 7.5px rgba(9, 89, 160, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

/* Dropdown Content*/
.dropdown-content[data-v-06d10bd9] {
  position: absolute;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: .05rem;
  text-align: center;
  background-color: #f1f1f1;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0px 12px 5px 10px;
  word-wrap: break-word; }

/* The container <div> - needed to position the dropdown content */
.dropdown[data-v-0b7b0ea2] {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  display: inline-block; }

/* Dropdown Button */
.dropdownbutton[data-v-0b7b0ea2] {
  width: 95px;
  background-color: rgba(0, 62, 116, 0.9);
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  font-weight: normal;
  letter-spacing: .05rem;
  text-align: center;
  padding: 6px 12px 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-text-stroke-width: 0.1px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  cursor: pointer; }

/* Dropdown button on hover */
.dropdownbutton[data-v-0b7b0ea2]:hover {
  cursor: pointer;
  background-color: #2980B9;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

/* Dropdown button when disabled */
.dropdownbutton[data-v-0b7b0ea2]:disabled {
  background-color: rgba(0, 62, 116, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  pointer-events: none; }

/* Dropdown Content*/
.dropdown-content[data-v-0b7b0ea2] {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: .05rem;
  text-align: center;
  background-color: #f1f1f1;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px 12px 5px 10px;
  word-wrap: break-word; }

/* The container <div> - needed to position the dropdown content */
.dropdown[data-v-01b8953d] {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  display: inline-block; }

/* Dropdown Button */
.dropdownbutton[data-v-01b8953d] {
  width: 95px;
  background-color: rgba(0, 62, 116, 0.9);
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  font-weight: normal;
  letter-spacing: .05rem;
  text-align: center;
  padding: 6px 12px 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-text-stroke-width: 0.1px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  cursor: pointer; }

/* Dropdown button on hover */
.dropdownbutton[data-v-01b8953d]:hover {
  cursor: pointer;
  background-color: #2980B9;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

/* Dropdown button when disabled */
.dropdownbutton[data-v-01b8953d]:disabled {
  background-color: rgba(0, 62, 116, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  pointer-events: none; }

/* Dropdown Content*/
.dropdown-content[data-v-01b8953d] {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black; }

.toggleBasicLabel {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background-color: #003E74;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease; }

.toggleBasicLabel:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #2980B9;
  box-shadow: 0 0 1px #ccc;
  content: '';
  transition: all 0.3s ease; }

.toggleBasicLabel:active:after {
  transform: scale(1.15, 0.85); }

.toggleBasicInput:checked ~ label:after {
  left: 20px; }

.toggleBasicInput:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none; }

/* toggle on hover */
.toggleBasicLabel:hover {
  cursor: pointer;
  background: #37538B;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.toggleBasicInput:disabled ~ label:after {
  background: #bcbdbc; }

.hidden {
  display: none; }

.toggleAdvanceClass {
  padding: 4px 10px 4px 10px;
  display: flex;
  overflow: hidden;
  margin-bottom: 6px;
  position: relative; }

.toggleAdvanceClass input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden; }

.toggleAdvanceClass label {
  width: 95px;
  font-size: 12px;
  display: inline-block;
  background-color: rgba(0, 62, 116, 0.5);
  color: rgba(255, 255, 255, 0.9);
  font-weight: normal;
  letter-spacing: .05rem;
  text-align: center;
  padding: 6px 12px 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-text-stroke-width: 0.1px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); }

/* toggle on hover */
.toggleAdvanceClass label:hover {
  background-color: #2980B9;
  cursor: pointer; }

.toggleAdvanceClass input:checked + label {
  background-color: #003E74;
  -webkit-box-shadow: none;
  box-shadow: none; }

/*
.toggleAdvanceClass label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.toggleAdvanceClass label:last-of-type {
  border-radius: 0 4px 4px 0;
}
*/
/* Fade effect */
.toggleAdvanceClass label {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  outline: 1px solid #000305; }

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
  outline: 1px solid #000305; }

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
  outline: 1px solid #000305; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.checkbox-container input:checked ~ .checkmark:after {
  display: block; }

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.checkbox-container input:disabled ~ .checkmark {
  background-color: #d3d1d1;
  outline: 1px solid #b4b4b4; }

.checkbox-container input:disabled ~ .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #7e7e7e;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.iv-play-button {
  background-color: #0F8291;
  color: white;
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 0.2rem 0.4rem;
  width: 5rem;
  white-space: nowrap; }

.iv-play-button span {
  display: inline-block;
  line-height: 1.2rem;
  font-size: 1rem;
  text-align: left; }

.iv-button-pause {
  /* This class is active when this.play is true (when the button is showing the option to pause) */
  background-color: #0a6d7a; }

.iv-play-button:focus {
  outline: 0; }

.play-icon {
  float: left;
  height: 1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  transition: 0.5s;
  padding-right: 0.25rem;
  transform: translateY(0.1vw); }

.iv-button {
  color: white;
  background-color: darkblue;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(20, 102, 224, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 2s; }

.iv-button:focus {
  outline: 0; }

.iv-button:active {
  /* background-color:#040252; */
  background-color: black; }

.iv-button:hover {
  color: white;
  background-color: darkblue;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 #d11212, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s; }

.iv-button:disabled {
  color: white;
  background-color: #ccc;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(209, 18, 18, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
  transition: 2s; }

.iv-button:hover:disabled {
  color: white;
  background-color: #ccc;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(209, 18, 18, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
  transition: 2s; }

@keyframes animate-stripes {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 60px 0; } }

.progress-bar {
  background-color: #302f2f;
  height: 3vh;
  width: 35vw;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 0 1px 5px #2c2c2c inset, 0 1px 0 #bcbdbc; }

.stripes {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.stripes.animated {
  animation: animate-stripes 0.6s linear infinite; }

.stripes.animated.slower {
  animation-duration: 1.25s; }

.stripes.reverse {
  animation-direction: reverse; }

.progress-bar-inner {
  display: block;
  height: 3vh;
  width: 0%;
  background-color: #3498db;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  position: relative;
  animation: auto-progress 10s infinite linear; }

/* The container <div> - needed to position the dropdown content */
.loadingSpinner[data-v-5e7a1adf] {
  animation: spin-data-v-5e7a1adf 1.5s linear infinite; }

@keyframes spin-data-v-5e7a1adf {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.tabContainer {
  display: block;
  position: relative;
  left: 50px; }

.tabContainer .tabDetails {
  display: block;
  height: 600px;
  width: 400px;
  background-color: powderblue;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  text-align: center; }

.tabContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.tabContainer li {
  float: left; }

.tabContainer li a {
  display: block;
  background-color: #1996df;
  color: #010101;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin-right: -2px; }

.tabContainer li a:hover {
  background-color: #0c62be; }

.tabContainer .is-active a {
  background-color: #0b4188; }

.hotspot-manager {
  display: grid;
  grid-template-areas: "topleft top topright" "left . right" "bottomleft bottom bottomright";
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute; }

.iv-main-stage {
  position: relative;
  z-index: 0; }

.iv-visualisation {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  height: calc(100vh - 2em);
  position: relative; }

.iv-visualisation > .iv-main-stage {
  flex: 1 1 auto; }

/*# sourceMappingURL=Visualisation.vue.map */
.iv-pane-content {
  height: 100%; }

.iv-drag-selector {
  padding: 0;
  height: 100%;
  width: 15px;
  cursor: col-resize; }

.iv-pane-content-left {
  float: left; }

.iv-drag-selector-left {
  float: right;
  transform: translateX(50%); }

.iv-pane-content-right {
  float: right; }

.iv-drag-selector-right {
  float: left;
  transform: translateX(-50%); }

.iv-pane {
  height: 100%;
  width: 100%;
  margin: 0;
  box-shadow: -5px 0px 10px 5px #aaa;
  background-color: white; }

.iv-pane-wrapper-left {
  order: -1; }

.iv-pane-wrapper-right {
  order: 1; }

.iv-pane-wrapper {
  height: 100%;
  flex: 0 0 auto;
  z-index: 75; }

.iv-pane-button {
  position: absolute;
  top: 50%; }

.iv-pane-overlay {
  position: absolute; }

.iv-pane-overlay-left {
  left: 0; }

.iv-pane-overlay-right {
  right: 0; }

.navIcon {
  position: relative;
  z-index: 1;
  top: 250px;
  background-color: #a3df7c;
  border: none;
  box-shadow: 0px 0px 4px #a6cc77;
  outline: none;
  transition: 0.5s; }

.navImage {
  width: 1.2rem;
  height: 2.5rem;
  transition: 0.5s; }

@media screen and (max-height: 450px) {
  .navMenu {
    padding-top: 15px; }
  .navMenu a {
    font-size: 18px; } }

/*# sourceMappingURL=Pane.vue.map */
.banner {
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  align-items: center;
  padding: 0.25rem 0rem;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(90deg, #003E74 0%, #37578b 15%, #37578b 100%);
  color: #ffffff;
  z-index: 76; }

.vis-title {
  flex-basis: 0;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  font-weight: bolder;
  left: 0vw;
  right: 0;
  background: none;
  color: #ffffff;
  font-size: calc(2em - 0.5em);
  line-height: calc(2em - 0.5em); }

.logo-container {
  color: #1EAEDB;
  z-index: 10;
  cursor: pointer;
  display: block;
  padding: 0;
  height: calc(2em - 0.5em); }

.logo-container :hover {
  color: #0FA0CE; }

.vis-logo {
  height: 1.25rem;
  width: auto;
  margin: 0.125rem 0.5rem; }

/*# sourceMappingURL=TitleBar.vue.map */
.iv-hotspot-corner {
  display: block;
  z-index: 50; }

.iv-hotspot-corner > * {
  white-space: nowrap;
  z-index: 50; }

.iv-hotspot-edge {
  display: flex;
  justify-content: space-between; }

.iv-hotspot-top, .iv-hotspot-bottom > * {
  margin: 0 auto; }

.iv-hotspot-left, .iv-hotspot-right > * {
  margin: auto 0; }

.iv-hotspot-left {
  flex-direction: column;
  grid-area: left;
  align-items: flex-start; }

.iv-hotspot-right {
  flex-direction: column;
  grid-area: right;
  align-items: flex-end; }

.iv-hotspot-top {
  flex-direction: row;
  grid-area: top;
  align-items: flex-start; }

.iv-hotspot-bottom {
  flex-direction: row;
  grid-area: bottom;
  align-items: flex-end; }

.iv-hotspot-topleft {
  grid-area: topleft; }

.iv-hotspot-topright {
  grid-area: topright; }

.iv-hotspot-bottomleft {
  grid-area: bottomleft; }

.iv-hotspot-bottomright {
  grid-area: bottomright; }

.iv-hotspot-topright > * {
  float: right; }

.iv-hotspot-bottomright > * {
  float: right; }

.iv-hotspot-topleft > * {
  float: left; }

.iv-hotspot-bottomleft > * {
  float: left; }

.iv-hotspotable {
  pointer-events: auto; }

.toggleAdvanceInput:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none; }

.toggleAdvanceInput:disabled ~ label:after {
  background: #bcbdbc; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content-element {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: .05rem;
  text-align: center;
  background-color: #f1f1f1;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

/* Links inside the dropdown */
.dropdown-content-element a {
  width: 71px;
  position: relative;
  display: inline-block;
  padding: 6px 12px 5px 10px;
  word-wrap: break-word; }

/* Change color of dropdown links on hover */
.dropdown-content-element a:hover {
  cursor: pointer;
  background-color: #2980B9;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
