// Z Level Definitions
$bottomZLevel:0;
$hotspotZLevel:50;
$sidebarZLevel:75;
$titlebarZLevel:76;
$middleZLevel:100;
$highZLevel:200;
$topZLevel:500;
// Colours
$primaryImperialBlue:#133f6f ;
$secondaryGreen: #a6cc77;
$white: #ffffff;

//Guidance
$guidanceButtonHeight:28px;

//Sizes 
$titleBarHeight:2rem;

//Hotspots
$hotspotItemMargin:1rem;
$hospotButtonColour: rgb(255,144,28);
$curvatureRadius: 20px;
$hotspotShadow: 5px;
$hotpotTextHeight: 1.25rem;

:exports{
    imperialBlue:$primaryImperialBlue;
    secondaryGreen:$secondaryGreen;
    secondaryOrange:$hotspotButtonColor;
}