// Z Level Definitions
$bottomZLevel:0;
$hotspotZLevel:50;
$sidebarZLevel:75;
$titlebarZLevel:76;
$middleZLevel:100;
$highZLevel:200;
$topZLevel:500;
// Colours
$primaryImperialBlue:#133f6f ;
$secondaryGreen: #a6cc77;
$white: #ffffff;


//Sizes 
$titleBarHeight:2rem;

//Hotspots
$hotspotItemMargin:1rem;