// Z Level Definitions
$bottomZLevel:0;
$hotspotZLevel:50;
$sidebarZLevel:75;
$titlebarZLevel:76;
$middleZLevel:100;
$highZLevel:200;
$topZLevel:500;
// Colours
$primaryImperialBlue:#133f6f ;
$secondaryGreen: #a6cc77;
$white: #ffffff;
$hotspotButtonColor: #FF901C;

//Guidance
$guidanceButtonHeight:28px;

//Sizes 
$titleBarHeight:2rem;

//Hotspots
$hotspotItemMargin:1rem;
$curvatureRadius: 20px;
$hotspotShadow: 5px;
$hotpotTextHeight: 1.25rem;
$minButtonHeight: 1.25rem;
$minButtonWidth: 80px;

$blurAmount:15px;
.iv-glass-effect{
    backdrop-filter: blur($blurAmount);
    -webkit-backdrop-filter:blur($blurAmount);
    box-shadow: none;
    background-color: rgba(255,255,255,0.6) !important;
}
