@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
* {
    font-family: "Fira Sans",Arial, Helvetica, sans-serif;
}
html,body{
    margin:0;
    padding:0;
    font-size:15pt;
}